/* range picker 패널 레이아웃을 세로로 변경 - presets을 좌측이 아닌 하단에 표시하기 위함 */
.ant-picker-panel-layout {
  display: flex;
  flex-direction: column-reverse;
}
.ant-picker-presets {
  width: 100% !important;
  max-width: unset !important;
  > ul {
    display: flex;
    align-items: center;
    height: unset !important;
    padding: unset !important;
    > li {
      flex: 1;
      margin-top: unset !important;
      padding: 10px !important;
      text-align: center;
    }
  }
}

/* range picker 에서 "다음 달"에 해당하는 패널을 감추기 위한 스타일 - "다음 달" 패널까지 나오면 모바일에서 화면 너비를 넘어감 */
.ant-picker-panels > *:first-of-type button.ant-picker-header-next-btn {
  visibility: visible !important;
}
.ant-picker-panels > *:first-of-type button.ant-picker-header-super-next-btn {
  visibility: visible !important;
}
.ant-picker-panels > *:last-of-type {
  display: none;
}
.ant-picker-footer-extra > div {
  flex-wrap: wrap !important;
}
