{
  "parser": "@typescript-eslint/parser",
  "env": {
    "browser": true,
    "es2021": true,
    "node": true,
    "commonjs": true,
    "jest": true
  },
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "next"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": [
    "react",
    "react-hooks",
    "@typescript-eslint",
    "@emotion",
    "prettier"
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "ignorePatterns": ["worker/index.js"],
  "rules": {
    "no-bitwise": "off",
    "no-use-before-define": "off",
    "import/extensions": "off",
    "import/no-unresolved": "off", // import 에 상대경로 금지 해제
    "import/prefer-default-export": "off", // 현재 프로젝트 구성과 맞지 않는 규칙 해제,
    "max-len": "off",
    "indent": "off",
    "no-confusing-arrow": "warn",
    "react/jsx-indent": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".tsx", ".ts"] }], // tsx내에서 JSX 문법 허용
    "react/jsx-props-no-spreading": "off", // props spread 허용
    "react/require-default-props": "off", // ts 사용으로 필요없음
    "react/jsx-wrap-multilines": "off",
    "react/jsx-one-expression-per-line": "off",
    "jsx-a11y/label-has-associated-control": ["error", { // 라벨과 input 연결 강제
      "required": {
        "some": ["nesting", "id"]
      }
    }],
    "jsx-a11y/anchor-is-valid": "off", // with next/link
    "react/no-array-index-key": "off", // array index key 허용
    "operator-linebreak": "off", // prettier 와 충돌하는 규칙 off
    "object-curly-newline": "off", // 이상한 줄바꿈 규칙 off
    "no-nested-ternary": "warn", // 중첩 3항연산자 warn으로 변경
    "no-template-curly-in-string": "off", // antd form 지원
    "implicit-arrow-linebreak": "off",
    "linebreak-style": "off" // 이상한 에러 나는 규칙 off
  }
}
