{
  "parser": "@typescript-eslint/parser",
  "env": {
    "browser": true,
    "es2021": true,
    "node": true,
    "commonjs": true,
    "jest": true
  },
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "next"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": [
    "react",
    "react-hooks",
    "@typescript-eslint",
    "@emotion",
    "prettier"
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "import/extensions": "off",
    "import/no-unresolved": "off", // import 에 상대경로 금지 해제
    "react/jsx-filename-extension": [1, { "extensions": [".tsx", ".ts"] }], // tsx내에서 JSX 문법 허용
    "react/jsx-props-no-spreading": "off" // props spread 허용
  }
}
